body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 700px;
  font-size: 45px;
  margin: 20px 0 25px 0;
}

h2 {
  font-weight: 700px;
  font-size: 14px;
  margin: 0 0 8 0px;
}

h3 {
  font-weight: 700px;
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 14px;
}

b {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

p {
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

em {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #eba524;
}

.wraper {
  display: flex;
  padding: 40px;

  flex-direction: row;
  width: 1280px;
  background-color: #e5e5e5;
}

.siteBar {
  position: relative;
  top: -20px;
  width: 320px;
  padding: 50px 0 0 50px;
  color: #ffffff;
  background-color: #1e2939;
}

.siteBar__Img {
  position: relative;
  right: 20px;
}

.siteBar h3 {
  margin: 50px 0 8px 0;
}

.siteBar__Contacts a {
  color: #ffffff88;
}

.siteBar a:hover {
  font-size: 15px;
  color: rgb(0, 81, 255);
}

.siteBar__Contacts span {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-right: 7px;
}

.siteBar__TechScills li,
.siteBar__SoftSkills li {
  position: relative;
  left: 25px;
  color: #fb6d3a;
}

.siteBar__TechScills span,
.siteBar__SoftSkills span {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.resumeContent {
  width: 910px;
  padding: 105px 50px 80px 110px;
  background-color: #ffffff;
}

.resumeContent h3 {
  margin: 50px 0 15px 0;
}

.resumeContent__Name {
  width: 400px;
}
.resumeContent__projects {
  width: 485px;
}

.resumeContent__projects ol {
  position: relative;
  left: 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.resumeContent__projects a,
.resumeContent__projects span {
  font-weight: normal;
  color: #595959;
}

.resumeContent__projects a:hover {
  font-size: 15px;
  color: #0066ff;
}

.resumeContent__WorkExpres {
  width: 525px;
}

.resumeContent__WorkExpres span,
.resumeContent__Education span {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.resumeContent__WorkExpres ul {
  position: relative;
  top: 10px;
  left: 25px;
}

.resumeContent__WorkExpres li {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.resumeContent__WorkExpres h4 {
  margin: 20px 0 10px 0;
}

.resumeContent__Education {
  width: 327px;
}

.resumeContent__Education h5 {
  margin: 10px 0 10px 0;
}
